<div class="jumbotron">
    <h1 class="text-center">minha-casa: configuração</h1>
</div>

<div class="container">

    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Novo device
                        </a>
                    </span>
                    <input #textoProcurado (keyup)="0" class="form-control" placeholder="filtrar pelo nome do device">
                </div>
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>

    <div class="row">
        <painel #painel *ngFor="let device of devices | filtroPorTitulo: textoProcurado.value" titulo="{{device.titulo | uppercase }}" class="col-md-2">
            <a [routerLink]="['/cadastro', device._id]">
                <device imageurl="{{device.imageurl}}" titulo="{{device.titulo}}"></device>
            </a>
            
            <botao nome="Remover" estilo="btn-danger btn-block" (acao)="modal.show()" [confirmacao]="false"></botao>
            <modal #modal frase="Tem certeza que deseja remover este device?" (confirma)="remove(device, painel)"></modal>

        </painel>
    </div>
</div>